# everything in Python is an "object"

4 data types:
1. int
2. float
3. string
4. boolean True/False

In [9]:
a = 1

In [10]:
type(a)

int

In [11]:
b = 2.2
type(b)

float

In [12]:
a + b

3.2

# cast: convert one type to another

In [15]:
a + int("111")

112

In [16]:
a + float("111")

112.0

In [18]:
str(a) + "111"

'1111'

In [19]:
"My name is" + " Arjun."

'My name is Arjun.'

In [26]:
bool(0)

False

# Python built-in functions: (green colors in spyder/nb)

In [29]:
name = "Qi Li"
age = 31
w = 152.2
print("My name is " + name + ", I am " + str(age) + " years old.")

My name is Qi Li, I am 31 years old.

In [31]:
print("My name is {}, I am {} years old. I weigh {} pounds.".format(name, age, w))

My name is Qi Li, I am 31 years old. I weigh 152.2 pounds.

# help(function name): pull out the help page

In [32]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [35]:
print(1, 2, 3, 4, sep='**')

1**2**3**4

In [39]:
print(1, end='%')
print(1, end='%')
#print(1)

1%1%

# functions: basic modules

In [43]:
for i in range(2,10,2):
    print(i, end=' ')

2 4 6 8

void function: doens't return anything
fruitful function: has a return value

In [62]:
def count_prime(n):
    """
    :param n: int, the max int we count to
    This function count the number of primes < n
    """
    count = 0
    for i in range(2, n):
        # i is the current number I'm checking
        for j in range(2, i-1):
            # j is the number I want to see if can be divided by i
            if i % j == 0:
                print("found non-prime: {}".format(i))
                count += 1
                break
    return (n-2) - count

n_prime = count_prime(10)

found non-prime: 4
found non-prime: 6
found non-prime: 8
found non-prime: 9

In [63]:
n_prime

4

# data structures:
1. lists
2. dictionary (hash maps)
3. trees
4. graphs

In [64]:
my_list = [1, 2, 3.3, "float", [1, 2, True]]

In [67]:
my_list[4][1]

2

In [68]:
dir(my_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [69]:
my_list

[1, 2, 3.3, 'float', [1, 2, True]]

In [70]:
my_list.append(None)

In [72]:
my_list.clear()

In [73]:
my_list

[]

In [79]:
my_list = [1, 2, 3.3, 'float', [1, 2, True]]

In [77]:
my_list.append([4,5,6])

In [78]:
my_list

[1, 2, 3.3, 'float', [1, 2, True], [4, 5, 6]]

In [80]:
my_list = [1, 2, 3.3, 'float', [1, 2, True]]

In [81]:
my_list.extend([4,5,6])

In [82]:
my_list

[1, 2, 3.3, 'float', [1, 2, True], 4, 5, 6]

In [84]:
sorted([2,4,1])

[1, 2, 4]

# dictionary

In [85]:
d = {'Qi': 31,
     'Arjun': 20,
     'Mary': 4}

In [87]:
set(d.keys())

{'Arjun', 'Mary', 'Qi'}

In [106]:
long_list = [str(i)+'qi' for i in range(100000)]

In [107]:
long_set = set(long_list)

In [108]:
import time
start = time.time()
'0 qi' in long_list
end = time.time()
print("Execution took {} ms.".format((end-start)*1000))
# scales linearly

Execution took 1.1336803436279297 ms.

In [109]:
start = time.time()
'0 qi' in long_set
end = time.time()
print("Execution took {} ms.".format((end-start)*1000))

Execution took 0.04410743713378906 ms.

In [ ]:
# Qi --> 00
# Arjun --> 01
# Mary --> 10
# --> hash function
# something: hash function(something) --> 10

Example:
I have a seris [1,2,...n]
I have a target number 9
I want you to determine if I can find a continuous sub-series from the whole series which add up to the target number
4, 5 -- > 9
2, 3, 4 -- > 9
8

In [128]:
def can_find_series(n, t):
    for start in range(n):
        for end in range(start+1, n):
            if t == sum(list(range(start, end+1))):
                print(start, end)
                return True
    return False
can_find_series(10000,254)
# time complexity: O(n)*O(n)*O(n) = O(n^3)

62 65

True

In [127]:
"""
get all of the series starting from 1
1 1
1,2 3
1,2,3 6
...
2,3,4
(1,2,3,4) - (1)
4,5
(1,2,3,4,5) - (1,2,3)
result_subseries = series_1(n1) - series_1(n2)
d = {0: 0,
     1: 1,
     2: 3}
"""

def can_find_series_2(n, t):
    d = {0:0} # key-value paris of ending index: sum of all the series starting from 1
    for i in range(1, n):
        d[i] = d[i-1] + i # O(n)
    d_subtract = {(v-t): k for k, v in d.items()}
    s = set(d_subtract.keys())
    for k, v in d.items():
        if v in s:
            return k+1, d_subtract[v]
    return False
    
can_find_series_2(10000,254)

(62, 65)